PORT=3001
DATABASE_URL=postgresql://postgres:Kevin2209.@localhost:5432/krono
REDIS_URL=redis://localhost:6379
API_KEY=super-secret-api-key
BULLMQ_QUEUE_NAME=ghost-messenger-notifications
W1=0.4
W2=0.3
W3=0.3