REDIS_URL=redis://localhost:6379
BULLMQ_QUEUE_NAME=ghost-messenger-notifications
FLASH_FILL_BASE_URL=http://localhost:3001
WHATSAPP_API_URL=https://api.whatsapp.com/v1/messages
WHATSAPP_TOKEN=tu_token_de_produccion_aqui
NODE_ENV=development
PORT=3002
JWT_SECRET=krono_ghost_messenger_secret_key_2026
JWT_EXPIRY_SECONDS=120