PORT=3002
REDIS_URL=redis://localhost:6379
JWT_SECRET=krono_secret_token_key_2024
FLASH_FILL_BASE_URL=http://localhost:5174/confirmar?token=

# WhatsApp (mock en dev, real en producción)
WHATSAPP_MOCK=true
WHATSAPP_API_URL=https://graph.facebook.com/v17.0/PHONE_ID/messages
WHATSAPP_TOKEN=

# Mailtrap Email API/SMTP (envío real a bandeja)
#MAILTRAP_HOST=live.smtp.mailtrap.io
#MAILTRAP_PORT=587
#MAILTRAP_USER=api
#MAILTRAP_PASS=18d88fa42a2131e425ab52de10bb3334
#MAILTRAP_FROM=noreply@demomailtrap.co

# Env Gmail
GMAIL_USER=barberiakrono@gmail.com
GMAIL_PASS=tbrx sghk fcsn aqsf